torch>=1.10
transformers>=4.10.0
datasets>=2.0
scikit-learn
pandas
numpy
matplotlib
seaborn
emoji
regex
tensorboard
tqdm
sentencepiece
fasttext
python-dateutil
torchtext
captum
python-pptx
